
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  text-decoration: none;
}

body{
  min-height: 100vh;
  background-color: #ffffff;

}
.header{
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: seagreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo{
  font-size: 32px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}
.navbar a{
  position:relative;
  font-size: 18px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  margin-left: 40px;
}
.navbar a::before{
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: .3s;
}
.navbar a:hover::before{
  width: 100%;
}

.sidebar{
  z-index: 99;
  padding-top: 55px;
  position: fixed;
  left: 0px;
  width: 250px;
  height: 100%;
  background: seagreen;
}
.sidebar header{
  
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background-color: #333;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 30px;
  font-size: 20px;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-bottom: 1px solid black;
  transition: .4s;


}
ul li:hover a{
  padding-left: 50px;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn, label #cancel{
  position: absolute;
  cursor: pointer;
  background: #333;
  border-radius: 3px;

}
label #btn{
  height: 10px;
  width: 10px;
  left: 40px;
  top: 25px;
  font-size: 500px;
  color: red;
  padding: 6px 12px;
}
label #cancel{
  z-index: 1111;
  left: 195px;
  top: 17px;

  font-size:30px;
  color: #000;
  padding: 4px 9px;
}




.jobs-list-container {
  padding: 80px;
  max-width: 900px;
  margin: 20px auto;
  font-family: "Rubik", sans-serif;
}

.jobs-list-container h2 {
  font-size: 30px;
  border-left: 4px solid #023047;
  padding-left: 20px;
}

.jobs-list-container .jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 24px;
}

.jobs-list-container .jobs img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 40px
}

.jobs-list-container .job {
  box-shadow: 0 4px 24px -2px rgba(2, 48, 71, 0.2);
  padding: 24px;
  border-radius: 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all 400ms ease;
}

.jobs-list-container .job:hover {
  transform: scale(1.03);
}

.jobs-list-container .open-positions {
  position: absolute;
  top: 40px;
  right: 24px;
  color: #e63946;
}

.jobs-list-container .job-title {
  text-align: center;
  font-size: 20px;
  padding: 10px 0px;
  margin: 0;
  color: #023047;

}

.jobs-list-container .details {
  margin-top: 6px;
  font-size: 14px;
  color: #333;
  line-height: 0;
  flex: 1;
}

.jobs-list-container .details-btn {
  text-decoration: none;
  border: 1px solid #023047;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  transition: all 400ms ease;
}

.jobs-list-container .details-btn:hover {
  background: #023047;
  color: #ffffff;
}

.jobs-list-container .job-search {
  width: 100%;
  padding: 12px 24px;
  font-size: 18px;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
  border: 1px solid #333;
  border-radius: 8px;
  margin-bottom: 20px;
}

@media (max-width: 940px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 640px) {
  .jobs-list-container .jobs {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 0 auto;
  }
}