.listing-item {
  padding-top: 90px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 500px;
}

.listing-item img{
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 40px;
  
  margin-left: auto;
  margin-right: auto;
}


.everythingg{
  padding-top: 30px;
}

.everythingg {
    padding: 80px;
    max-width: 900px;
    margin: 20px auto;
    font-family: "Rubik", sans-serif;
  }
  
  .jobs-list-container h2 {
    font-size: 30px;
    border-left: 4px solid #023047;
    padding-left: 20px;
    
  }
  
  .jobs-list-container .everything {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
  }
  
  .jobs-list-container .everything img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 40px;
    
  margin-left: auto;
  margin-right: auto;
  }
  
  .listing-item {
    box-shadow: 0 4px 24px -2px rgba(2, 48, 71, 0.2);
    padding: 24px;
    border-radius: 16px;
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 400ms ease;
  }
  
  .listing-item:hover {
    transform: scale(1.03);
  }
  

  .listing-item h3{
    text-align: center;
    font-size: 20px;
    padding: 10px 0px;
    margin: 0;
    color: #023047;
  
  }
  
  .listing-item .details {
    margin-top: 6px;
    font-size: 20px;
    color: #333;
    line-height: 0;
    flex: 1;
  }
  
  .listing-item .details {
    text-decoration: none;
    border: 1px solid #023047;
    color: #000;
    padding: 20px 0px;
    border-radius: 8px;
    text-align: center;
    margin-top: 20px;
    transition: all 400ms ease;
  }
  
  .details:hover {
    background: #023047;
    color: #ffffff;
  }
  
  .jobs-list-container .job-search {
    width: 100%;
    padding: 12px 24px;
    font-size: 18px;
    font-family: "Rubik", sans-serif;
    box-sizing: border-box;
    border: 1px solid #333;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 940px) {
    .jobs-list-container .listing-item {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (max-width: 640px) {
    .jobs-list-container .listing-item {
      grid-template-columns: 1fr;
      max-width: 400px;
      margin: 0 auto;
    }
  }