.btn{
    display: inline-block;
    background: #008CBA;
    color: white;
    padding: 8px 30px;
    margin: 3px 0;
    border-radius: 30px;
    transition: background 0.2s;
  }

  h1 {
    font-family: 'Poppins', sans-serif;
      color: #242424;
      float: left;
      margin-top: 20px;
  }
.navbar{
    display: flex;
    align-items: center;
    padding: 10px;
  }
  nav{
    flex: 1;
    text-align: right;
  }
  nav ul{
    display: inline-block;
    list-style-type: none;
  }
  nav ul li{
    display: inline-block;
    text-align: left;
    margin-right: 20px;
  }
  .btn:hover{
    background: #00526e;
  }
  .container{
    max-width: 1300px;
    margin: left;
    padding-left: 25px;
    padding-right: 25px;
  }
  .categories{
    margin: 70px 0;
  }

 
  .header .row{
    margin-top: 40px;
  }
  .row{
    display: flex;
  }
  .small-container{
    max-width: 200px;
    margin: center;
    padding-left: 25px;
    padding-right: 25px;
  }
  .imgbg{
    border-radius: 50%;
  object-fit: cover;
    padding: 20px;
    float: left;
  /* Make the background image cover the area of the <div>, and clip the excess */
 
  }
  .col-2{
    flex-basis: 50%;
    padding-top: 5px;
      
      min-width: 200px;
      min-height: 200px;
      margin-bottom: 50px;
      
  }    
  .col-4{
    flex-basis: 100%;
    padding: 20px;
    min-width: 200px;
    margin-bottom: 0px;
    transition: transform 0.5s;
    
    
    
  }
 
  .col-4:hover{
    transform: translateY(-5px);
  }
  .widthSet{
    max-height: 200px;
  }
  .col-4 img{
    width: 100%;
    object-fit: cover
  }

  .single-product{
    margin-top: 80px;
  }
  .single-product .col-2 img{
    padding: 0;
  }
  .single-product .col-2 {
    padding: 20px;
  }
  .single-product h4{
    margin: 0px;
    font-size: 22px;
    font-weight: bold;
  }
  .single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
  }
  .single-product input{
    width: 30px;
    height: 20px;
    padding-left: 10px;
    font-size: 14px;
    margin-right: 10px;
    border: 1px solid;
  }
