/*Hex codes: 
ethereal ivory #E4E4DE, 
sophisticated sage #C4C5BA, 
timeless noir #1B1B1B, 
muted moss #595f39
cool site for html
https://www.quackit.com/html/codes/
*/




div {  
    border: 3px solid rgb(0, 0, 0);  
    outline: 3px solid rgb(255, 255, 255);  
    border-radius: 100px;  
    font-size: 30px;  
    font-weight: bold;  
    margin: 80px;  
    padding: 80px;  
    outline-offset: 0.5em;  
  }

p.inset {border-style: inset;}
.center {
    
    margin-left: auto;
    margin-right: auto;
  }
body{
  
    background-color: #85e47c46;
}

h1 {
    color: #595f39;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
  border: none;
  color: rgba(148, 216, 139, 0.664);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgba(23, 235, 76, 0.719);
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #026905;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
