/*Hex codes: 
ethereal ivory #E4E4DE, 
sophisticated sage #C4C5BA, 
timeless noir #1B1B1B, 
muted moss #595f39
cool site for html
https://www.quackit.com/html/codes/
*/


.header{
  padding: 5px;
}
.navbar{
  display: flex;
  align-items: right;
  padding: 20px;
}
.col-4{
  flex-basis: 25%;
  padding: 0px;
  min-width: 30px;
  margin-bottom: 0px;
  transition: transform 0.5s;
  
  
  
}
.widthSet{
  max-height: 200px;
}
.col-4 img{
  width: 100%;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
  
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
  
}

a{
  text-decoration: none;
  color: #555;
}
p{
  color: #555;
}

.container{
  max-width: 1300px;
  margin: left;
  padding-left: 25px;
  padding-right: 25px;
}
.btn{
  display: inline-block;
  background: #008CBA;
  color: white;
  padding: 8px 30px;
  margin: 3px 0;
  border-radius: 30px;
  transition: background 0.2s;
}
h1 {
  font-family: 'Poppins', sans-serif;
    color: #242424;
    float: left;
    margin-top: 15px;
}
.logo{
  float: left;
}
.categories{
  margin: 70px 0;
}
.btn:hover{
  background: #00526e;
}
.header{
  background: radial-gradient(#E4E4DE, #aace7c);
}
.header .row{
  margin-top: 40px;
}
.row{
  display: flex;
}
.small-container{
  max-width: 200px;
  margin: center;
  padding-left: 25px;
  padding-right: 25px;
}
.col-2{
flex-basis: 50%;
  padding-left: 30px;
  min-width: 200px;
  min-height: 200px;
  margin-bottom: 50px;
  
}
.col-4{
  flex-basis: 25%;
  padding: 5px;
  min-width: 200px;
  min-height: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}
.col-4 img{
  width: 100%;
  object-fit: cover;
}
.widthSet{
  max-height: 200px;
}
.col-4:hover{
  transform: translateY(-5px);
}

/*div {  
    border: 3px solid rgb(0, 0, 0);  
    outline: 3px solid rgb(255, 255, 255);  
    border-radius: 100px;  
    font-size: 30px;  
    font-weight: bold;  
    margin: 80px;  
    padding: 80px;  
    outline-offset: 0.5em;  
  }*/

p.inset {border-style: inset;}
.center {
    
    margin-left: auto;
    margin-right: auto;
  }
body{
    
    background-color: #477651;
}

h1 {
  font-family: 'Poppins', sans-serif;
    color: #000000;
    float: right;
    margin-top: 35px;
    padding-left: 10px;
    
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.button {
  border: none;
  color: rgba(148, 216, 139, 0.664);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: rgba(23, 235, 76, 0.719);
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #026905;
  color: white;
}

.button2 {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}
